#hamburger{
    display:block;
}

ul.meniu{
    display: none;
    margin:0;
    width: 100%;
    background-color: var(--color-bleu);
}

ul.meniu li{
    margin:0;
    width: 100%;
}

#hamburger>img{
    height:var(--inaltime-meniu);
}

#ch-menu:checked+ul.meniu{
    display: block;
    position: relative;
    z-index: 10;

}

ul.meniu li:hover {
    /*sa apara shadow si pt suboptiuni */
    box-shadow: inset 5px 5px 50px -20px #FFF;
    transition: all 0.5s ease;

}

main{
    margin-top: 20px;/*YEEEEEEEEEYYYYYY*/
}