<!DOCTYPE html>
<html lang="ro">
    <head>

        <title>Teodora =^_^= </title>
        
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
            <meta name="keywords" content="multidisciplinar, artist, student, studenta, matematica, informatica, unibuc, fmi, portofoliu, zine, desen, revista, magazin, scrunchie, accesoriu, resurse, proiecte"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
            <meta name="description" content="Matematica si Arta: Portofoliu multidisciplinar"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
            <meta name="author" content="Teodora Mihai">  <!-- autorul/autoarea paginii-->  

            <%-include("../fragmente/head.ejs")%>
            
    
    </head>
    <body>
        <%-include("../fragmente/header.ejs")%>
        
        
    <!--<div class="page-break"></div>-->
   <main>

    A doua pagina
    
   </main>

    <div class="page-break"></div>
    <%-include("../fragmente/footer.ejs")%>

        

    </body>

</html>