<footer>
    <a href="#" id="link-top" title="Mergeți în susul paginii">
        <span id="circle"></span> <!-- Containerul rotund care se rotește -->
        <span id="sageata">↑</span> <!-- Săgeata care rămâne fixă -->
    </a>

    <a href="mailto:teodoramihai030@gmail.com">Scrie un mail catre teodoramihai030@gmail.com</a>

    <a href="tel:+40712345678">suna la 0712345678</a>

    <a href="https://maps.app.goo.gl/sfhxdckzQzeA4iwG8" target="_blank">Catre FMI</a>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11395.635187741444!2d26.1020!3d44.4296!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff2cd8c073e5%3A0xb2f87ff70d4fd1aa!2sStrada%20Academiei%2014%2C%20Bucure%C8%99ti%20010014!5e0!3m2!1sen!2sro!4v1234567890" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    
    <a href="https://wa.me/40737740470" target="_blank">Da-mi un mesaj pe whatsapp</a>
    
    <p>Creat <time>2025-03-25</time> </p>
    <p><small>Copyright &copy;2025 Teodora Mihai</small></p>

    <p id="absolut"></p>







</footer>